<mat-card>
    <mat-card-content>
        <mat-card *ngFor="let event of events" class="m-5">
            <mat-card-header>
                <mat-card-title class="cursor-pointer" (click)="onEventClick(event)">
                    <mat-icon fontIcon="home" style="color: {{ event.color.primary }};" class="pt-1 mr-4"></mat-icon>
                    <span>{{ event.title }}</span>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="flex">
                    <mat-card class="w-1/2 p-2">
                        <mat-card-content>
                            {{ event.start }}
                        </mat-card-content>
                    </mat-card>
                    <mat-card class="w-1/2 p-2">
                        <mat-card-content>
                            {{ event.end }}
                        </mat-card-content>
                    </mat-card>
                </div>
            </mat-card-content>
        </mat-card>
    </mat-card-content>
</mat-card>
<!--<hr />-->
<!--<pre *ngFor="let event of events">{{ event | json }}</pre>-->

